@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* common style  */

/* navbar section  */
header {
  max-width: 1140px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}
.container-logo {
  font-size: 3rem;
  font-weight: 100;
  font-style: italic;
  color: #e95a08;
}

.container-menu-list {
  display: flex;
  margin-left: 350px;
}
.container-menu-list-item {
  list-style: none;
}

.container-menu-list-item a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

.container-menu-list li {
  list-style: none;
  margin-left: 3rem;
}

.container-menu-list li a {
  text-decoration: none;
}
.cart {
  color: #252432;
  font-weight: 600;
  font-size: 1.1rem;
}

.container-menu-list li:nth-child(1) a {
  color: #252432;
  font-weight: 600;
}

.container-menu-list li:nth-child(2) a {
  color: #8987a1;
}

.container-menu-list li:nth-child(3) a {
  color: #8987a1;
}

/* hero section  */
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  margin-top: 210px;
}

.container-header-text {
  max-width: 570px;
}

.main-header {
  font-size: 4.1rem;
  margin-bottom: 13px;
}

.main-header-description {
  max-width: 570px;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.main-header-span {
  font-family: noto;
  font-weight: 700;
}
.main-header-span2 {
  color: #e95a08;
  font-family: noto;
  font-weight: 700;
}

.container-header-image img {
  width: 100%;
}

/* main section start  */
main {
  max-width: 1140px;
  margin: 120px auto;
  padding: 20px;
}

.container-our-plants {
  text-align: center;
  padding: 50px;
}

.container-our-plants-header {
  font-size: 3.125rem;
  margin-bottom: 16px;
}

.container-our-plants-description {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}

/* card section  */

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.container-our-plants-cards {
  text-align: center;
  padding: 15px;
}

.container-our-plants-cards img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.container-our-plants-cards h3 {
  margin-bottom: 5px;
  font-size: 1.374rem;
  font-weight: 500;
}

.container-our-plants-cards p {
  margin-bottom: 10px;
  font-size: 1.374rem;
  font-weight: 600;
}

.cards-button {
  background-color: #e95a08;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}
.cards-button:hover {
  background-color: #d94c08;
}

/* flower lover section  */
.container-flower-lover {
  padding: 25px 25px;
}

.container-flower-lover-text {
  margin: 200px auto;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.flower-lover-image {
  position: relative;
  flex: 1 1 500px;
}

.flower-lover-image img {
  width: 100%;
}
.flower-lover-image .badge {
  position: absolute;
  width: 200px;
  top: -65px;
  right: -65px;
}

.flower-lover-content {
  flex: 1 1 500px;
}

.flower-lover-content h2 {
  font-size: 3.125rem;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: noto;
}

.flower-lover-content ul {
  list-style: disc;
  padding-left: 35px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
}

.flower-lover-content ul li {
  margin-bottom: 15px;
}

/* media queries for small devices */
@media screen and (max-width: 768px) {
  .container-menu-list {
    display: none;
  }

  .container-logo {
    font-size: 2.4rem;
  }

  .container-header {
    flex-direction: column-reverse;
    margin-top: auto;
    padding: 0;
  }
  main {
    margin-top: 65px auto;
  }

  .main-header {
    font-size: 2.5rem;
    margin-top: 20px;
  }

  .container-header-text {
    padding: 16px;
  }

  .container-our-plants {
    padding: 5px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-flower-lover-text {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .flower-lover-content {
    padding: 0;
    margin-top: -100px;
  }

  .flower-lover-content ul {
    padding-left: 0;
    list-style-position: inside;
  }

  .flower-lover-content h2 {
    font-size: 1.5rem;
  }
  .flower-lover-image .badge {
    display: none;
  }
}
